# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!*.tex
!./photoes

# Ignore LaTeX build files
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz

build/

